<h1>{{title}}</h1>

<div *ngIf="(tokenStatus|async) == TokenStatusEnum.Validating">Validating token...</div>

<div *ngIf="(tokenStatus|async) == TokenStatusEnum.Invalid">
  Token validation failed, if the token has expired you can get a new one at the <a
    routerLink="../forgot-password">forgot password</a> page.
</div>

<form *ngIf="(tokenStatus|async) == TokenStatusEnum.Valid" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Password + Confirm -->
  <app-field-password [formMod]="form" [withConfirm]="true"></app-field-password>

  <!-- Submit -->
  <app-submit-button [text]="title"></app-submit-button>

  <!-- Secondary Action -->
  <a mat-button routerLink="../login">Cancel</a>

</form>
