<!-- Hidden Shape - allowing the component to behave as a flex-element 
  in a flex container, even though it has a fixed position -->
<mat-toolbar></mat-toolbar>

<footer class="fixed-footer">
  <mat-toolbar color="primary" fxLayoutAlign="end center">

    <div style="width: 100%;">
      <!-- Sidenav Toggle -->
      <button mat-icon-button aria-label="Menu icon"
        (click)="toggleSideNav();">
        <mat-icon>{{ (isOpenSideNav$|async) ? 'menu_open': 'menu' }}</mat-icon>
      </button>
      <menu-theme></menu-theme>      
    </div>

    <!-- Logo -->
    <app-logo [width]="40"></app-logo>

    <div style="width: 100%;" fxLayoutAlign="end center">
      <menu-user></menu-user>
    </div>
  </mat-toolbar>
</footer>