/* Material Theme */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Container */
@import './container.scss';

/* Forms */
@import './form.scss';

/* Alert */
@import './alert.scss';

/* Button */
@import './button/github-star-badge.scss';
@import './button/circle-link.scss';
@import './button/chip.scss';

/* Text */
@import './text.scss';

:host {
  font-size: 40px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
