<h3 class="card-header">Forgot Password</h3>

<div class="card-body">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <!-- Email -->
        <mat-form-field class="form-element" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="formGroup.controls['email'].invalid">{{ getEmailError() }}</mat-error>
        </mat-form-field>
        
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Submit
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
        
    </form>
</div>