// TODO - Could be replace be an "app-form-field"
app-checkbox-field,
app-date-field,
app-input-field,
app-select-field,
app-slide-toggle-field,
app-password-field-group,
app-button {
  display: flex;
  width: 100%;
  flex: 1;
}

mat-form-field {
  flex: 1;
}

.mat-form-field-wrapper {
  padding-bottom: 0.8rem;
}

app-button > button {
  padding: 0 0.1rem;
  flex: 1;
}
