k-button {
  display: flex;
  width: 100%;
  flex: 1;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-wrapper {
  min-width: 240px; // To handle field with icon
}

k-button > button {
  padding: 0 0.1rem;
  flex: 1;
}
