// TODO - Could be replace be an "app-form-field"
k-form-field-checkbox,
k-form-field-date,
k-form-field-input,
k-form-field-select,
k-form-field-slide-toggle,
k-form-field-group-password,
k-button {
  display: flex;
  width: 100%;
  flex: 1;
}

mat-form-field {
  flex: 1;
}

.mat-form-field-wrapper {
  padding-bottom: 0.8rem;
}

k-button > button {
  padding: 0 0.1rem;
  flex: 1;
}
