.mat-toolbar a {
  font-size: 1.2rem !important;
}

// To handle field with icon
.mat-form-field-wrapper {
  min-width: 240px;
  padding-bottom: 1.2em;
}

.mat-form-field {
  width: 100%;
}

// Roundup alert corner
.mat-snack-bar-container {
  border-radius: 1rem !important;
}

.mat-spinner {
  position: relative;
  top: 0.3rem;
}

// Allow Card shadow not to be cut
.mat-sidenav-content {
  padding: 2px;
}

.mat-dialog-container {
  border-radius: 0.5rem !important;
  padding : 16px !important;
}

.mat-card {
  border-radius: 0.5rem !important;
}

.mat-card-title {
  text-align: center;
  margin-bottom: 12px !important;
}

