<h1>{{title}}</h1>

<form class="form" [ngrxFormState]="formGroupState" (submit)="onSubmit()">

  <!-- Email -->
  <app-input-field 
    [formId]="title" 
    [ctrlName]="'Email'">
  </app-input-field>

  <!-- Password -->
  <app-password-field-group 
    [formId]="title">
  </app-password-field-group>

  <!-- Submit -->
  <app-submit-button 
    [text]="title">
  </app-submit-button>

  <!-- Secondary Action -->
  <div>
    <a mat-button routerLink="../register">New account ?</a>
    <a mat-button routerLink="../forgot-password">Forgot password ?</a>
  </div>
</form>
