<form [ngrxFormState]="formGroupState" (submit)="onSubmit()">

  <h1>{{title}}</h1>

  <!-- Email -->
  <app-input-field [formId]="title" [ctrlName]="'Email'" [format]="'email'">
  </app-input-field>

  <!-- Password -->
  <app-password-field-group [formId]="title">
  </app-password-field-group>

  <!-- Submit -->
  <app-button [text]="title">
  </app-button>

  <!-- Secondary Action -->
  <div>
    <a mat-button routerLink="../register">New account ?</a>
    <a mat-button routerLink="../forgot-password">Forgot password ?</a>
  </div>
</form>