<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>format_color_fill</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="changeTheme('deeppurple-amber');">
    <span>Light - Deeppurple-amber</span>
  </button>
  <button mat-menu-item (click)="changeTheme('indigo-pink');">
    <span>Light - Indigo-pink</span>
  </button>
  <button mat-menu-item (click)="changeTheme('pink-bluegrey');">
    <span>Pour El DOM ;)</span>
  </button>
  <button mat-menu-item (click)="changeTheme('purple-green');">
    <span>Pour El DOM ;) 2</span>
  </button>
</mat-menu>