<h2>Shopping List</h2>

<div *ngIf="myShoppingList && myShoppingList.productList">

  <mat-expansion-panel *ngFor="let catProd of myShoppingList.productList" hideToggle>

    <!-- Expansion Panel Header containing the product category -->
    <mat-expansion-panel-header>
      <mat-panel-title>{{catProd.category}}</mat-panel-title>
      <button mat-button color="primary" (click)="ResetBuyStatusOfProductCategory(catProd)">Reset</button>
    </mat-expansion-panel-header>

    <!-- Expanded Panel containing the product sub category and their products -->
    <li *ngFor="let subCatProd of catProd.subCatProducts">
      <span> {{subCatProd.subCategory}} : </span>
      <span
        *ngFor="let prod of subCatProd.usableProducts"
        [class.selected]="prod.isBought === true"
        (click)="SwapBuyStatusOfProduct(prod)"> {{prod.name}}, </span> 
    </li>
  </mat-expansion-panel>

</div>