<div *ngIf="token?.status == TokenStatusEnum.Validating">Validating token...</div>

<div *ngIf="token?.status == TokenStatusEnum.Invalid">
  Token validation failed, if the token has expired you can get a new one at the <a mat-button
    routerLink="../forgot-password">forgot password</a> page.
</div>

<ng-container *ngIf="token?.status == TokenStatusEnum.Valid">
  <form [ngrxFormState]="formGroupState" (submit)="onSubmit()">

    <h1>{{formId}}</h1>

    <!-- Password + Confirm -->
    <app-password-field-group [formId]="formId" [withConfirm]="true">
    </app-password-field-group>

    <!-- Submit -->
    <app-button [text]="formId"></app-button>

    <!-- Secondary Action -->
    <a mat-button routerLink="../login">Cancel</a>

  </form>
</ng-container>