<h1>{{title}}</h1>

<div *ngIf="token?.status == TokenStatusEnum.Validating">Validating token...</div>

<div *ngIf="token?.status == TokenStatusEnum.Invalid">
  Token validation failed, if the token has expired you can get a new one at the <a mat-button
    routerLink="../forgot-password">forgot password</a> page.
</div>

<form *ngIf="token?.status == TokenStatusEnum.Valid" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Password + Confirm -->
  <app-password-field-group [formMod]="form" [withConfirm]="true"></app-password-field-group>

  <!-- Submit -->
  <app-submit-button [text]="title"></app-submit-button>

  <!-- Secondary Action -->
  <a mat-button routerLink="../login">Cancel</a>

</form>
