<h2>Reset Password</h2>

<div *ngIf="tokenStatus == TokenStatus.Validating">Validating token...</div>

<div *ngIf="tokenStatus == TokenStatus.Invalid">
  Token validation failed, if the token has expired you can get a new one at the <a
    routerLink="../forgot-password">forgot password</a> page.
</div>

<form *ngIf="tokenStatus == TokenStatus.Valid" class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div>
    <!-- Password -->
    <!-- TODO - Add Password format policy (At least 6 characters...) -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="f.password.invalid">{{ err.getErrorMsg(f.password, 'password') }}</mat-error>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="f.confirmPassword.invalid">{{ err.getErrorMsg(f.confirmPassword, 'confirmPassword') }}</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" class="form-element" type="submit">Reset Password</button>
  <a mat-button routerLink="../login">Cancel</a>

</form>
