<div class="card-container">
  <form [ngrxFormState]="formGroupState">
    <h1>Alert</h1>

    <div class="flex-layout flex-column">
      <k-form-field-button-toggle [formId]="formId" [ctrlName]="'Criticity'" [options]="alertTypeEnumValues">
      </k-form-field-button-toggle>

      <k-button [text]="'Trigger Alert'" [type]="'button'" (click)="triggerAlert()"></k-button>
      <k-button [text]="'Trigger 2sec Delayed Alert'" [type]="'button'" (click)="triggerDelayedAlert()"></k-button>
    </div>
  </form>
</div>