<form 
  gdColumns="1fr 1fr"
  fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="auto center"
  [ngrxFormState]="formGroupState" (submit)="onSubmit()">
  <h1 style="grid-column: 1/3;">{{formId}}</h1>

  <k-form-field-input [formId]="formId" [ctrlName]="'Email'" [label]="'Field with -email- format'"
    [placeholder]="'Ex : patate@puree.com'" [value]="'patate@puree.com'" [format]="'email'">
  </k-form-field-input>

  <k-form-field-input [formId]="formId" [ctrlName]="'Number'" [label]="'Field with -number- format'" [value]="'Bonjour'"
    [format]="'number'">
  </k-form-field-input>

  <k-form-field-select [formId]="formId" [ctrlName]="'Select field'" [options]="productCatEnum$|async">
  </k-form-field-select>

  <k-form-field-date [formId]="formId" [ctrlName]="'Date field'" [placeholder]="'Ex : XX/XX/20XX'">
  </k-form-field-date>

  <k-form-field-input [formId]="formId" [ctrlName]="'Length field'" [label]="'Optional field between 5 & 10 characters'"
    [required]="false" [addValidationFns]="[minLength(5), maxLength(10)]" [value]="5">
  </k-form-field-input>

  <k-form-field-group-password style="grid-column: 1/3;" [formId]="formId" [withConfirm]="true">
  </k-form-field-group-password>

  <k-form-field-checkbox [formId]="formId" [ctrlName]="'CheckBox'">
  </k-form-field-checkbox>

  <k-form-field-slide-toggle [formId]="formId" [ctrlName]="'SlideToggle'">
  </k-form-field-slide-toggle>

  <k-button style="grid-column: 1/3;"></k-button>
  <k-button [text]="'Reset Form'" [type]="'button'" (click)="resetForm()"></k-button>
  <k-button [text]="'Clear Form Value'" [type]="'button'" (click)="clearFormValue()"></k-button>

</form>