<mat-card>
  <mat-card-title>{{ formId }}</mat-card-title>
  <k-form [formId]="formId">

    <!-- Email -->
    <k-form-field-input [ctrlName]="'Email'" [label]="'Field with -email- format'"
      [placeholder]="'Ex : patate@puree.com'" [value]="'patate@puree.com'" [format]="FieldFormatEnum.Email">
    </k-form-field-input>

    <!-- Number -->
    <k-form-field-input [ctrlName]="'Number'" [label]="'Field with -number- format'"
      [value]="'Bonjour'" [format]="FieldFormatEnum.Number">
    </k-form-field-input>

    <!-- Select -->
    <k-form-field-select [ctrlName]="'Select field'" [options]="productCatEnum$|async">
    </k-form-field-select>

    <!-- Date -->
    <k-form-field-date [ctrlName]="'Date field'" [placeholder]="'Ex : XX/XX/20XX'">
    </k-form-field-date>

    <!-- Optional field with length validation rules -->
    <k-form-field-input [ctrlName]="'Length field'"
      [label]="'Optional field between 5 & 10 characters'" [required]="false"
      [addValidationFns]="[minLength(5), maxLength(10)]" [value]="5">
    </k-form-field-input>

    <!-- Password group field -->
    <k-form-field-group-password ngStyle.gt-xs="grid-column: 1/3;" [withConfirm]="true">
    </k-form-field-group-password>

    <!-- Checkbox -->
    <k-form-field-checkbox [ctrlName]="'CheckBox'">
    </k-form-field-checkbox>

    <!-- SlideToggle -->
    <k-form-field-slide-toggle [ctrlName]="'SlideToggle'">
    </k-form-field-slide-toggle>

    <k-button type='submit' ngStyle.gt-xs="grid-column: 1/3;">Submit</k-button>
    <k-button [action]="resetFormAction">Reset Form</k-button>
    <k-button [action]="clearFormValueAction">Clear Form Value</k-button>
  </k-form>
</mat-card>