<mat-radio-group
  fxLayout="column"
  [ngrxFormControlState]="ctrl" 
  [attr.name]="ctrlName"
  [attr.aria-label]="label">
  
  <!-- TODO - put mat-menu-item class as a field param -->
  <ng-container *ngIf="options !== null && options !== undefined">
    <mat-radio-button *ngFor="let option of options"
      [ngClass]="customClass ? customClass : ''"
      value="{{ valueAsLabel ? option : this.options.indexOf(option) }}">
      {{ option }}
    </mat-radio-button>
  </ng-container>
  
</mat-radio-group>