<!-- Pwd -->
<app-input-field
  [formId]="formId"
  [ctrlName]="'Password'"
  [placeholder]="'xxxxxx'"
  [format]="'password'"
  [visibilityToggle]="true"
  [unpersist]="true"></app-input-field>

<!-- Confirm Password --> 
<!-- TODO - Put style somewhere else ? -->
<app-input-field *ngIf="withConfirm" 
  style="padding-left:0.8rem;"
  [formId]="formId"
  [ctrlName]="'ConfirmPassword'"
  [label]="'Confirm Password'"
  [placeholder]="'xxxxxx'"
  [visibilityToggle]="true"
  [addDynamicValidationFns]="[mustMatch('Password', 'ConfirmPassword')]"
  [unpersist]="true"></app-input-field>
