<!-- Pwd -->
<app-input-field
  [formId]="formId"
  [ctrlName]="'Password'"
  [placeholder]="'xxxxxx'"
  [withFeature]="'Visibility'"></app-input-field>

<!-- Confirm Password --> 
<!-- TODO - Put style somewhere else ? -->
<app-input-field *ngIf="withConfirm" 
  style="padding-left:0.8rem;"
  [formId]="formId"
  [ctrlName]="'ConfirmPassword'"
  [label]="'Confirm Password'"
  [placeholder]="'xxxxxx'"
  [withFeature]="'Visibility'"
  [stateParamValFns]="[mustMatch('Password')]"></app-input-field>
