<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px"
  fxLayout.xs="column" fxLayoutGap.xs="0px">

  <!-- Pwd -->
  <k-form-field-input
    [formId]="formId"
    [ctrlName]="pwdCtrlName"
    [placeholder]="'xxxxxx'"
    [format]="FieldFormatEnum.Password"
    [unpersist]="true"></k-form-field-input>

  <!-- Confirm Password -->
  <k-form-field-input *ngIf="withConfirm"
    [formId]="formId"
    [ctrlName]="confirmPwdCtrlName"
    [label]="'Confirm Password'"
    [placeholder]="'xxxxxx'"
    [format]="FieldFormatEnum.Password"
    [addDynamicValidationFns]="[mustMatch(pwdCtrlName, confirmPwdCtrlName)]"
    [unpersist]="true"></k-form-field-input>

</div>