<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Logo -->
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>

  <!-- Menu -->
  <a mat-button routerLink="/home">My Recipe</a>
  <a mat-button routerLink="/my-shopping-list">My Shopping List</a>
  <span class="spacer"></span>

  <!-- Account -->
  <div *ngIf="isLogged; else elseBlock">
    <span style="color:rgb(17, 224, 52);">{{account[0].userName}}&nbsp;&nbsp;&nbsp;</span>
    <a mat-button (click)="logout()">Log Out</a>
  </div>
  <ng-template #elseBlock>
    <a mat-button routerLink="/account/login">Connexion</a>
  </ng-template>
</mat-toolbar>
