<h2>Shopping List</h2>

<!-- TODO - Should be in an action bar component -->
<div>
  <button mat-raised-button (click)="openAddProductDialog()">Add Product</button>
  <button mat-raised-button (click)="resetBoughtStatus()">Reinitiate Status</button>
  <mat-slide-toggle [(ngModel)]="slideChecked" (change)="onSlideChange()"></mat-slide-toggle>
</div>

<div *ngIf="myShoppingList && myShoppingList.catProducts">

  <mat-accordion [multi]=true #accordion="matAccordion">
    <mat-expansion-panel *ngFor="let catProd of myShoppingList.catProducts" hideToggle>

      <!-- Header containing the product category -->
      <mat-expansion-panel-header>
        <mat-panel-title>{{catProd.category}}</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Expanded Panel containing the product sub category and their products -->
      <li *ngFor="let subCatProd of catProd.subCatProducts">
        <span> {{subCatProd.subCategory}} : </span>
        <span *ngFor="let prod of subCatProd.products">

          <span [class.selected]="prod.bought === true" (click)="swapProductBoughtStatus(prod)">{{prod.name}}</span>
          <span> , </span>
        </span>
      </li>
    </mat-expansion-panel>
  </mat-accordion>

</div>
