<mat-card>
  <!-- Action Bar -->
  <div fxLayout="raw wrap" fxLayoutAlign="center center">

    <k-button type='button' color='primary' label='Add Product'></k-button>
    <k-button type='button' color='primary' label='Reset Status'></k-button>
    
    <k-form [formId]="formId" [validate]="false">
      <div>
        <k-button-slide-toggle
          [formId]="formId" [ctrlName]="'Accordeon'" 
          [label]="(accordionExpandedCtrl$|async)?.value ? 'Close' : 'Open'"
          [value]="true"
          matTooltip="Open or close the shopping list"
          [matTooltipDisabled]="(accordionExpandedCtrl$|async)?.isDirty">
        </k-button-slide-toggle>

        <k-button-slide-toggle
          [formId]="formId" [ctrlName]="'EditMode'" 
          [label]="(editModeCtrl$|async)?.value ? 'Use' : 'Edit'"
          [value]="false"
          matTooltip="Change shopping list interaction mode. 
            Switching between an 'Edit' mode to modify product in the list 
            and a 'Use' mode that only allow to change product bought status"
          [matTooltipDisabled]="(editModeCtrl$|async)?.isDirty">
        </k-button-slide-toggle>
      </div>
    </k-form>
  </div>
</mat-card>