<mat-card>
  <!-- Action Bar -->
  <div fxLayout="raw wrap" fxLayoutAlign="center center">

    <button mat-raised-button (click)="openAddProductDialog()">Add Product</button>
    <button mat-raised-button (click)="resetBoughtStatus()">Reinitiate Status</button>

    <k-button-slide-toggle 
      [formId]="formId" [ctrlName]="'Accordeon'" 
      [label]="accordion_expanded ? 'Close' : 'Open'">
    </k-button-slide-toggle>

    <k-button-slide-toggle
      [formId]="formId" [ctrlName]="'EditMode'" 
      [label]="(editMode$|async) === false ? 'Use' : 'Edit'">
    </k-button-slide-toggle>
  </div>
</mat-card>