<!-- Password -->
<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput [type]="pwdHide ? 'password' : 'text'" [formControl]="pwdCtrl">
  <button type="button" mat-icon-button matSuffix (click)="pwdHide = !pwdHide">
    <mat-icon>{{pwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="pwdCtrl.invalid">{{ err.getErrorMsg(pwdCtrl, 'password') }}</mat-error>
</mat-form-field>

<!-- Confirm Password -->
<mat-form-field *ngIf="withConfirm" appearance="outline" style="padding-left:0.8rem;">
  <mat-label>Confirm Password</mat-label>
  <input matInput [type]="pwdConfirmHide ? 'password' : 'text'" [formControl]="pwdConfirmCtrl">
  <button type="button" mat-icon-button matSuffix (click)="pwdConfirmHide = !pwdConfirmHide">
    <mat-icon>{{pwdConfirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="pwdConfirmCtrl.invalid">{{ err.getErrorMsg(pwdConfirmCtrl, 'confirmPassword') }}</mat-error>
</mat-form-field>
