<mat-form-field>

  <mat-label>{{ label }}</mat-label>

  <input matInput
    [ngrxFormControlState]="ctrl"
    placeholder="{{ placeholder }}"
    [matDatepicker]="picker"    
    [ngrxValueConverter]="dateValueConverter">

  <mat-error *ngIf="ctrl.isInvalid">{{ err.getErrorMsg(ctrl) }}</mat-error>

  <mat-datepicker-toggle matSuffix [for]="picker" (touchstart)="touchUi=true">
  </mat-datepicker-toggle>

  <mat-datepicker #picker [touchUi]="touchUi" (closed)="touchUi=false">
  </mat-datepicker>

</mat-form-field>