<h1>{{title}}</h1>

<!-- Ngrx Form -->
<ng-container *ngIf="formState">
  <form [ngrxFormState]="formState[title]">

    <app-input-field 
      [formID]="title" 
      [ctrlName]="'Input With Visibility'" 
      [withFeature]="'visibility'">
    </app-input-field>

    <app-input-field 
      [formID]="title" 
      [ctrlName]="'Email'"
      [label]="'Input With Email'">
    </app-input-field>

    <app-checkbox-field 
      [formID]="title" 
      [ctrlName]="'CheckBox'">
    </app-checkbox-field>

    <input type="submit" value="Submit" (click)="onSubmit()">
  </form>
</ng-container>