<form [ngrxFormState]="formGroupState" (submit)="onSubmit()">

  <h1>{{formId}}</h1>

  <app-date-field [formId]="formId" [ctrlName]="'Date field'" [placeholder]="'Ex : XX/XX/20XX'">
  </app-date-field>

  <app-input-field [formId]="formId" [ctrlName]="'Email'" [label]="'Input field with email Format'"
    [placeholder]="'Ex : patate@puree.com'" [value]="'patate@puree.com'" [format]="'email'">
  </app-input-field>

  <div class="flex-layout">
    <app-input-field [formId]="formId" [ctrlName]="'Length field'" [label]="'Optional field between 5 & 10 characters'"
      [required]="false" [addValidationFns]="[minLength(5), maxLength(10)]" [value]="5">
    </app-input-field>

    <app-input-field [formId]="formId" [ctrlName]="'Number'" [label]="'Input field with -number- format'"
      [addValidationFns]="[number]" [value]="'Bonjour'">
    </app-input-field>
  </div>

  <app-password-field-group [formId]="formId" [withConfirm]="true">
  </app-password-field-group>

  <app-select-field [formId]="formId" [ctrlName]="'Select field'" [options]="productCatEnum$|async">
  </app-select-field>

  <app-checkbox-field [formId]="formId" [ctrlName]="'CheckBox'">
  </app-checkbox-field>

  <app-slide-toggle-field [formId]="formId" [ctrlName]="'SlideToggle'">
  </app-slide-toggle-field>

  <app-button></app-button>

  <div class="flex-layout">
    <app-button [text]="'Reset Form'" [type]="'button'" (click)="resetForm()"></app-button>
    <app-button [text]="'Clear Form Value'" [type]="'button'" (click)="clearFormValue()"></app-button>
  </div>
</form>