<h1>{{title}}</h1>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Username -->
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="f.username.invalid">{{ err.getErrorMsg(f.username) }}</mat-error>
    </mat-form-field>

    <!-- Email -->
    <app-field-email [formToModify]="form"></app-field-email>

    <!-- Password + Confirm -->
    <app-field-password [formToModify]="form" [withConfirm]="true"></app-field-password>

    <!-- Usage Term -->
    <!-- TODO - Optimize Impl (use submitted ? style dans CSS ? style et position de l'error ? -->
    <div class="mat-form-field-wrapper">
      <mat-checkbox formControlName="acceptTerms">Accept Terms & Conditions</mat-checkbox>
      <mat-error class="mat-form-field-subscript-wrapper" style="margin-top: 0; padding-left: 0.5rem;"
      *ngIf="f.acceptTerms.invalid && f.acceptTerms.touched && submitted">Accept Ts & Cs is required</mat-error>
    </div>

    <!-- Submit -->
    <app-submit-button [text]="title"></app-submit-button>

    <!-- Secondary Action -->
    <a mat-button routerLink="../login">You already have an account ? :)</a>

</form>
