<mat-card>
  <mat-card-title>{{ formId }}</mat-card-title>
  <k-form [formId]="formId" no-browser-persist>

    <!-- Username -->
    <k-form-field-input [ctrlName]="'Username'">
    </k-form-field-input>

    <!-- Email -->
    <k-form-field-input [ctrlName]="'Email'" [format]="FieldFormatEnum.Email">
    </k-form-field-input>

    <!-- Password + Confirm -->
    <k-form-field-group-password [withConfirm]="true">
    </k-form-field-group-password>

    <!-- Usage Term -->
    <k-form-field-checkbox [ctrlName]="'acceptTerms'" [label]="'Accept Terms & Conditions'">
    </k-form-field-checkbox>

    <!-- Actions -->
    <k-button type='submit'>{{ formId }}</k-button>
    <k-link route="../login">Already have an account ?</k-link>
  </k-form>
</mat-card>