<!-- Input Field -->
<mat-form-field>

  <!-- Label -->
  <mat-label>{{ label }}</mat-label>

  <!-- Input -->
  <input matInput 
    [ngrxFormControlState]="ctrlState(ctrlName)"
    [type]="inputHide ? 'password' : 'text'">

  <!-- If With Feature 'Visibility', Add a button to manage input visibility -->
  <button *ngIf="withFeature==='visibility'" 
    type="button" mat-icon-button matSuffix (click)="inputHide = !inputHide">
    <mat-icon>{{inputHide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>

  <!-- Error -->
  <mat-error *ngIf="ctrlState(ctrlName).isInvalid">{{ err.getErrorMsg(ctrlState(ctrlName)) }}</mat-error>

</mat-form-field>


