<h1 mat-dialog-title>{{ formId }}</h1> <!-- TODO title should be styles as mat-card --->

<k-form [formId]="formId">
  <k-form-field-input [ctrlName]="'ProductName'" [label]="'Name'">
  </k-form-field-input>

  <k-form-field-select [ctrlName]="'Category'" [options]="productCatEnum$|async">
  </k-form-field-select>

  <k-form-field-select [ctrlName]="'SubCategory'" [options]="productSubCatEnum$|async">
  </k-form-field-select>

  <!-- TODO - Proposition de produit -->
  <!-- <p>Ceci pourrait correspondre :</p>
    <p>Produit(s) Sélectionnés</p> -->

  <!-- Submit -->
  <k-button label='OK'></k-button>
  <k-button buttonId='Dialog.Product.Cancel' type='button' label='No Thanks'></k-button>
</k-form>