<form fxLayout="column" [ngrxFormState]="formGroupState" (submit)="onSubmit()">

  <h1 mat-dialog-title>{{ formId }}</h1>

  <k-form-field-input [formId]="formId" [ctrlName]="'ProductName'" [label]="'Name'">
  </k-form-field-input>

  <k-form-field-select [formId]="formId" [ctrlName]="'Category'" [options]="productCatEnum$|async">
  </k-form-field-select>

  <k-form-field-select [formId]="formId" [ctrlName]="'SubCategory'" [options]="productSubCatEnum$|async">
  </k-form-field-select>

  <!-- TODO - Proposition de produit -->
  <!-- <p>Ceci pourrait correspondre :</p>
    <p>Produit(s) Sélectionnés</p> -->

  <!-- Submit -->
  <k-button label='OK'></k-button>
  <k-button buttonId='Dialog.Product.Cancel' type='button' label='No Thanks'></k-button>
</form>