<!-- TODO - Review class value "card-header&card-body" -->
<h2>Forgot Password</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Email -->
  <mat-form-field class="form-element" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="f.email.invalid">{{ err.getErrorMsg(f.email, 'email') }}</mat-error>
  </mat-form-field>

  <!-- TODO - Review Loader -->
  <button mat-raised-button color="primary" [disabled]="loading" class="button btn btn-primary form-element">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Submit
  </button>
  <a mat-button routerLink="../login">Cancel</a>

</form>