<h2>Forgot Password</h2>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Email -->
  <mat-form-field class="form-element" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="f.email.invalid">{{ err.getErrorMsg(f.email, 'email') }}</mat-error>
  </mat-form-field>

  <!-- Submit Action -->
  <button mat-raised-button color="primary" [disabled]="load.loading" class="form-element" type="submit">
    <mat-icon *ngIf="load.loading"><mat-spinner diameter="25"></mat-spinner></mat-icon>
    Submit
  </button>

  <!-- Secondary Action -->
  <a mat-button routerLink="../login">Cancel</a>

</form>
