<h1>Shopping List</h1>

<!-- TODO - Should be in an action bar component -->
<div class="flex-container">

  <button mat-raised-button (click)="openAddProductDialog()">Add Product</button>
  <button mat-raised-button (click)="resetBoughtStatus()">Reinitiate Status</button>

  <span class="spacer"></span>

  <mat-chip-list multiple>
    <mat-chip disableRipple [selectable]="false">
      <mat-slide-toggle (change)="onSlideChange()">{{accordion_expanded ? "Close" : "Open"}}</mat-slide-toggle>
    </mat-chip>
    <mat-chip disableRipple [selectable]="false">
      <mat-slide-toggle (change)="edit_mode = !edit_mode">{{edit_mode ? "Use" : "Edit"}}</mat-slide-toggle>
    </mat-chip>
  </mat-chip-list>

</div>

<div *ngIf="myShoppingList && myShoppingList.catProducts">

  <mat-accordion [multi]=true #accordion="matAccordion">
    <mat-expansion-panel *ngFor="let catProd of myShoppingList.catProducts" hideToggle>

      <!-- Header containing the product category -->
      <mat-expansion-panel-header>
        <mat-panel-title>{{catProd.category}}</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Expanded Panel containing the product sub category and their products -->
      <li *ngFor="let subCatProd of catProd.subCatProducts">
        <span> {{subCatProd.subCategory}} : </span>
        <mat-chip-list multiple>
          <div *ngFor="let prod of subCatProd.products">
            <mat-chip
              (click)="swapProductBoughtStatus(prod)"
              [selected]="prod.bought">
              {{prod.name}}

                <mat-icon matChipRemove *ngIf="edit_mode" (click)="deleteProduct(prod)">cancel</mat-icon>

            </mat-chip>

          </div>
        </mat-chip-list>
      </li>
    </mat-expansion-panel>
  </mat-accordion>

</div>
