<mat-form-field>

  <mat-label>{{ label }}</mat-label>
  
  <input matInput 
    [ngrxFormControlState]="ctrl"
    type="{{ visibility ? 'text' : 'password' }}"
    placeholder="{{placeholder}}"
    [ngrxValueConverter]="format === 'number' ? numberConverter : defaultConverter">

  <!-- Icon button to manage input visibility -->
  <button *ngIf="_visibilityToggle && ctrl.value !== ''" 
    type="button" mat-icon-button matSuffix (click)="visibility = !visibility">
    <mat-icon>{{ visibility ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>

  <mat-error *ngIf="ctrl.isInvalid">{{ err.getErrorMsg(ctrl) }}</mat-error>
  
</mat-form-field>