<!-- Input Field -->
<mat-form-field>

  <!-- Label -->
  <mat-label>{{ label }}</mat-label>

  <!-- Input -->
  <input matInput 
    [ngrxFormControlState]="ctrl"
    [type]="inputHide ? 'password' : 'text'"
    placeholder="{{placeholder}}">

  <!-- If With Feature 'Visibility', Add a button to manage input visibility -->
  <button *ngIf="withFeature==='Visibility'" 
    type="button" mat-icon-button matSuffix (click)="inputHide = !inputHide">
    <mat-icon>{{inputHide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>

  <!-- Error -->
  <mat-error *ngIf="ctrl.isInvalid">{{ err.getErrorMsg(ctrl) }}</mat-error>

</mat-form-field>