<h2> Register </h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        
    <!-- Username -->
    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="form.controls['username'].invalid">{{ getUsernameError() }}</mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="form-element" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.controls['email'].invalid">{{ getEmailError() }}</mat-error>
    </mat-form-field>

    <!-- Password -->
    <!-- TODO : Add Password format policy (At least 6 characters...) -->
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="form.controls['password'].invalid">{{ getPasswordError() }}</mat-error>
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="form.controls['confirmPassword'].invalid">{{ getConfirmPasswordError() }}</mat-error>
    </mat-form-field>

    <!-- TODO : Clean this field tech implementation -->
    <div class="form-group form-check">
        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
    </div>

    <button class="button" type="submit"> Register </button><br>
    <a routerLink="../login"> You already have an account ? :) </a>
        
</form>