<form [ngrxFormState]="formGroupState" (submit)="onSubmit()">

  <h1 mat-dialog-title>{{ formId }}</h1>

  <!-- Name -->
  <app-input-field [formId]="formId" [ctrlName]="'ProductName'" [label]="'Name'">
  </app-input-field>

  <!-- Category -->
  <app-select-field [formId]="formId" [ctrlName]="'Category'" [options]="productCatEnum$|async">
  </app-select-field>

  <!-- Sub Category -->
  <app-select-field [formId]="formId" [ctrlName]="'SubCategory'" [options]="productSubCatEnum$|async">
  </app-select-field>

  <!-- TODO - Proposition de produit -->
  <!-- <p>Ceci pourrait correspondre :</p>
    <p>Produit(s) Sélectionnés</p> -->

  <!-- Submit -->
  <app-button [text]="'OK'"></app-button>

  <!-- Secondary Action -->
  <button mat-button (click)="this.dialogRef.close();">No Thanks</button>

</form>