<div fxLayout="column" class="page">

  <!-- Toolbar -->
  <topbar-desktop fxHide.xs="true"></topbar-desktop>

  <mat-sidenav-container
    fxLayout="column" fxLayoutAlign="center stretch"
    fxFlex="1" style="padding: 8px 0;">

    <!-- Sidenav (activable in small screen) -->
    <mat-sidenav role="navigation"
      [style.marginBottom.px]="56"
      ngStyle.xs="margin-bottom:56px;" ngStyle.gt-xs="top:64px;margin-bottom:64px;"
      [opened]="isOpenSideNav$|async" 
      (closed)="closeSideNav()">
      <menu-main style="height: 100%;" fxLayout="column" fxLayoutAlign="end stretch"></menu-main>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content role="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
  </mat-sidenav-container>

  <!-- Footer -->
  <footer-desktop fxHide.xs="true" style="z-index: 2;"></footer-desktop>
  <footer-mobile fxHide.gt-xs="true" style="z-index: 2;"></footer-mobile>
</div>

<!-- Alert -->
<k-alert></k-alert>