<mat-card>
  <mat-card-title>{{ formId }}</mat-card-title>
  <k-form [formId]="formId">
    <div fxLayout="raw">

      <!-- Delay - time waited before alert is triggered -->
      <k-form-field-slider [formId]="formId" [ctrlName]="'Delay'" [label]="'Delay (sec)'" [value]="2" [min]="1" [max]="5">
      </k-form-field-slider>
      
      <div fxLayout="column">

        <!-- Message -->
        <k-form-field-input [formId]="formId" [ctrlName]="'Message'" [label]="'Message'" [value]="'Tadaaaaa !!!'">
        </k-form-field-input>

        <!-- Criticity -->
        <k-form-field-button-toggle [formId]="formId" [ctrlName]="'Criticity'" [options]="alertTypeEnumValues"
          [value]="alertTypeEnum.Success">
        </k-form-field-button-toggle>

        <!-- Ask if alert should be kept after route change -->
        <k-form-field-checkbox [formId]="formId" [ctrlName]="'KeepAfterRouteChange'" [label]="'Keep alert after route change ?'"
          [required]="false">
        </k-form-field-checkbox>
      </div>
    </div>
    
    <k-button label='Trigger Alert'></k-button>
    
  </k-form>
</mat-card>