<mat-card>
  <mat-card-title>{{formId}}</mat-card-title>
  <form [ngrxFormState]="formGroupState">
    <div fxLayout="column">
      <k-form-field-button-toggle 
        [formId]="formId" 
        [ctrlName]="'Criticity'" 
        [options]="alertTypeEnumValues"
        [value]="alertTypeEnum.Success">
      </k-form-field-button-toggle>

      <k-button [text]="'Trigger Alert'" (click)="triggerAlert()"></k-button>
      <k-button [text]="'Trigger 2sec Delayed Alert'" (click)="triggerDelayedAlert()"></k-button>
    </div>
  </form>
</mat-card>