
  <form [ngrxFormState]="formGroupState" class="card-container">
    <h1>Alert</h1>

    <div fxLayout="column">
      <k-form-field-button-toggle 
        [formId]="formId" 
        [ctrlName]="'Criticity'" 
        [options]="alertTypeEnumValues"
        [value]="alertTypeEnum.Success">
      </k-form-field-button-toggle>

      <k-button [text]="'Trigger Alert'" [type]="'button'" (click)="triggerAlert()"></k-button>
      <k-button [text]="'Trigger 2sec Delayed Alert'" [type]="'button'" (click)="triggerDelayedAlert()"></k-button>
    </div>
  </form>
