<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Ex. firstname.name@mailbox.com">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" placeholder="Ex. 123456" >
  </mat-form-field>

  <button class="button" type="submit"> Sign In </button> <br>
  <button class="button" routerLink="../register"> You wanna create an account ? :) </button>

</form>