  :host {
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .page {
    min-height:100vh; /* 1 */
    display:flex; /* 2 */
    flex-direction:column; /* 3 */
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    align-items: center;
  }

  a, a:visited, a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }
