<mat-card-title>Income Tax</mat-card-title>
<div fxLayoutAlign="center center">

  <!-- Texte explicatif -->
  <p style="max-width: 200px;">
    Le montant de votre impôt sur le revenu est calculé
    <span *ngIf="!versementLib; else elseBlock">à partir des <a href="https://www.service-public.fr/particuliers/vosdroits/F1419">tranches marginales d'imposition</a></span>
    <ng-template #elseBlock>en appliquant <a href="https://www.impots.gouv.fr/professionnel/le-versement-liberatoire">les règles du versement libératoire</a></ng-template>
  </p>

  <!-- Tableau détaillé -->
  <table mat-table [dataSource]="dataSource">

    <!-- Income range -->
    <ng-container matColumnDef="range">
      <th mat-header-cell *matHeaderCellDef> Range </th>
      <td mat-cell *matCellDef="let element"> {{element.range}} </td>
    </ng-container>

    <!-- Tax rate -->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> Rate </th>
      <td class='center' mat-cell *matCellDef="let element"> {{element.rate}} </td>
    </ng-container>

    <!-- Tax amount -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td class='center' mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>