<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="page">
  <!-- Top Screen Toolbar -->
  <app-toolbar></app-toolbar>

  <div class="content" role="main">

    <!-- Page Content -->
    <router-outlet></router-outlet>

    <!-- global alert -->
    <app-alert></app-alert>

  </div>

  <!-- App Footer -->
  <app-footer></app-footer>
</div>


